mmcv==1.7.0
diffusers
timm==0.6.12
accelerate
tensorboard
tensorboardX
transformers
sentencepiece
ftfy~=6.1.1
beautifulsoup4~=4.11.1
protobuf==3.20.2
gradio==4.1.1
yapf==0.40.1
opencv-python
ftfy
bs4
einops
xformers
optimum